# ----------------------
# Flask
# ----------------------
flask
Flask-SQLAlchemy
Flask-WTF
psycopg2


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gunicorn
