{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block main %}
<div class="container">
  <h2>Profile</h2>
  <form action="{{ url_for('profile') }}" method=post enctype="multipart/form-data" class="form-group">
    {{ form.uploadedfile.label }}
    {{ form.uploadedfile(class="btn btn-default")}}
    
    {{ form.username.label }}
    {{ form.username(class="form-control")}}
    
    {{ form.firstname.label }}
    {{ form.firstname(class="form-control")}}
    
    {{ form.lastname.label }}
    {{ form.lastname(class="form-control")}}
 
    {{ form.biography.label }}
    {{ form.biography(class="form-control")}}
     
    {{ form.age.label }}
    {{ form.age(class="form-control")}}
 
    {{ form.sex.label }}
    {{ form.sex(class="form-control")}}
    <br>
    {{ form.submit(class="btn btn-default")}}
  </form>
</div>
{% endblock %}